In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('Python数据清洗预测实操题/ads_train.csv')

In [3]:
df

,sample_id,is_buyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
0,1,1,2.0,11,36.04167,17.466670,2.187187,8.670142,7,7,1,1,189,1008,1
1,2,0,NaN,2,0.00000,4.166667,0.000000,-100.481900,102,102,0,1,50,162,1
2,3,1,3.0,49,45.12500,2.584201,-58.931050,1.808742,0,0,1,1,158,1314,1
3,4,1,4.0,45,16.97222,2.298295,-26.271070,-2.628011,4,4,1,1,46,289,1
4,5,1,1.0,12,0.00000,4.193182,0.000000,-13.904360,17,17,0,1,42,294,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19161,19162,0,NaN,1,0.00000,0.000000,0.000000,0.000000,104,104,0,0,58,691,0
19162,19163,0,NaN,1,0.00000,0.000000,0.000000,0.000000,131,131,0,0,139,923,0
19163,19164,0,NaN,5,0.00000,0.885417,0.000000,-75.374080,76,76,0,1,115,2316,0
19164,19165,0,NaN,1,0.00000,0.000000,0.000000,0.000000,73,73,0,0,77,205,0
19165,19166,0,NaN,1,0.00000,0.000000,0.000000,0.000000,162,162,0,0,191,1020,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19166 entries, 0 to 19165
Data columns (total 15 columns):
sample_id              19166 non-null int64
is_buyer               19166 non-null int64
buy_freq               814 non-null float64
visit_freq             19166 non-null int64
buy_interval           19166 non-null float64
sv_interval            19166 non-null float64
expected_time_buy      19166 non-null float64
expected_time_visit    19166 non-null float64
last_buy               19166 non-null int64
last_visit             19166 non-null int64
multiple_buy           19166 non-null int64
multiple_visit         19166 non-null int64
uniq_urls              19166 non-null int64
num_checkins           19166 non-null int64
y_buy                  19166 non-null int64
dtypes: float64(5), int64(10)
memory usage: 2.2 MB

In [27]:
label = df.y_buy
print('正样本：' + str(sum(label)) + '，负样本：' + str(sum(label == 0)))

正样本：85，负样本：19081

In [28]:
df = df.drop(['sample_id','y_buy'], 1)

## Q1

In [19]:
max = df.max().to_frame().T
max

,is_buyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins
0,1.0,15.0,75.0,174.625,183.4167,80.40408,89.64812,188.0,188.0,1.0,1.0,206.0,37091.0

In [20]:
min = df.min().to_frame().T
min

,is_buyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins
0,0.0,1.0,0.0,0.0,0.0,-181.9238,-187.6156,0.0,0.0,0.0,0.0,-1.0,1.0

In [22]:
mean = df.mean().to_frame().T
mean

,is_buyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins
0,0.042471,1.264128,1.905353,0.192338,5.917407,-0.154358,-10.367894,64.196181,64.196181,0.00647,0.280914,86.533288,716.460607

In [24]:
var = df.var().to_frame().T
var

,is_buyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins
0,0.040669,0.89325,9.871031,15.064833,310.139204,21.585184,1033.125617,2848.290235,2848.290235,0.006428,0.202012,3834.345435,1.618550e+06

In [26]:
std = df.std().to_frame().T
std

,is_buyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins
0,0.201666,0.945119,3.14182,3.881344,17.61077,4.645986,32.142271,53.369375,53.369375,0.080176,0.449457,61.922092,1272.22245

In [54]:
miss = df.apply(lambda x: sum(x.isna())/len(x)*100, axis=0).to_frame().T
miss

,is_buyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins
0,0.0,95.752896,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
obs = pd.DataFrame(columns=df.columns)
obs = obs.append(max).append(min).append(mean).append(var).append(std).append(miss)
obs = obs.reset_index().drop('index',1).rename(index={0:'max',1:'min',2:'mean',3:'var',4:'std',5:'missing%'})

In [58]:
obs.to_csv('ads_train_observation.csv')

## Q2

根据观察，只需对buy_freq缺失值进行处理，而is_buy与buy_freq有直接因果关系，只有曾经消费，购买次数才有记录，buy_freq的缺失是由未曾消费导致的，因此缺失值应填充为0.

In [59]:
df[(df.is_buyer != 0) & (df.buy_freq.isna())]

Empty DataFrame
Columns: [is_buyer, buy_freq, visit_freq, buy_interval, sv_interval, expected_time_buy, expected_time_visit, last_buy, last_visit, multiple_buy, multiple_visit, uniq_urls, num_checkins]
Index: []

In [60]:
df[(df.is_buyer == 0) & (~df.buy_freq.isna())]

Empty DataFrame
Columns: [is_buyer, buy_freq, visit_freq, buy_interval, sv_interval, expected_time_buy, expected_time_visit, last_buy, last_visit, multiple_buy, multiple_visit, uniq_urls, num_checkins]
Index: []

In [29]:
df.buy_freq = df.buy_freq.fillna(value=0)

同时，若曾经未消费，其对应的buy_interval，last_buy，multiple_buy也应为0

In [83]:
df[(df.is_buyer == 0) & (df.buy_interval != 0)]

Empty DataFrame
Columns: [is_buyer, buy_freq, visit_freq, buy_interval, sv_interval, expected_time_buy, expected_time_visit, last_buy, last_visit, multiple_buy, multiple_visit, uniq_urls, num_checkins]
Index: []

In [81]:
df[(df.is_buyer == 0) & (df.last_buy != 0)]

,is_buyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins
1,0,0.0,2,0.0,4.166667,0.0,-100.481900,102,102,0,1,50,162
5,0,0.0,2,0.0,10.000000,0.0,2.019883,2,2,0,1,42,323
6,0,0.0,1,0.0,0.000000,0.0,0.000000,18,18,0,0,18,270
8,0,0.0,3,0.0,52.437500,0.0,10.876230,24,24,0,1,162,1032
9,0,0.0,1,0.0,0.000000,0.0,0.000000,67,67,0,0,0,753
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19161,0,0.0,1,0.0,0.000000,0.0,0.000000,104,104,0,0,58,691
19162,0,0.0,1,0.0,0.000000,0.0,0.000000,131,131,0,0,139,923
19163,0,0.0,5,0.0,0.885417,0.0,-75.374080,76,76,0,1,115,2316
19164,0,0.0,1,0.0,0.000000,0.0,0.000000,73,73,0,0,77,205
19165,0,0.0,1,0.0,0.000000,0.0,0.000000,162,162,0,0,191,1020

此处非消费者对应的距离上一次购物天数却不为零，属于异常现象。然而此种情形有17883个，占总数93%，暂时对此不作处理。

In [82]:
df[(df.is_buyer == 0) & (df.multiple_buy != 0)]

Empty DataFrame
Columns: [is_buyer, buy_freq, visit_freq, buy_interval, sv_interval, expected_time_buy, expected_time_visit, last_buy, last_visit, multiple_buy, multiple_visit, uniq_urls, num_checkins]
Index: []

last_buy与last_visit是完全一样的两列，不符合实际情况，可能存在错误记录。

In [89]:
sum(df.last_buy == df.last_visit)

19166

此处使用孤立森林的方法来识别异常值并将其删除，正常值保留。值得注意的是，此训练集极不平衡，正样本非常稀有且正样本也许会呈现出与负样本不同的分布从而被视为异常值，所以正样本并不参与异常值筛查。

In [30]:
from sklearn.ensemble import IsolationForest

tmp = df[label == 0]
clf = IsolationForest(random_state=0).fit(tmp)
out = clf.predict(tmp)

In [31]:
tmp = tmp[out == 1]
df = tmp.append(df[label == 1])

In [32]:
tmp = label[label == 0]
tmp = tmp[out == 1]
label = tmp.append(label[label == 1])


## Q3

此处提取新特征采用的是多元多次化原始特征的方法，而平衡数据集采用的是连续非连续混合型SMOTE，因此，这里调整平衡数据至提取新特征之前以便SMOTE对连续非连续特征的区分。

In [35]:
from imblearn.over_sampling import SMOTENC

非连续特征：

0:'is_buyer',
1:'buy_freq',
2:'visit_freq',
7:'last_buy',
8:'last_visit',
9:'multiple_buy',
10:'multiple_visit',
11:'uniq_urls',
12:'num_checkins'

In [38]:
oversample = SMOTENC(categorical_features=[0,1,2,7,8,9,10,11,12])
X, y = oversample.fit_resample(df, label)

In [43]:
X[(X['is_buyer'] == 0) & ((X['buy_freq'] != 0) | 
                          (X['buy_interval'] != 0) | 
                          (X['multiple_buy'] != 0))]

Empty DataFrame
Columns: [is_buyer, buy_freq, visit_freq, buy_interval, sv_interval, expected_time_buy, expected_time_visit, last_buy, last_visit, multiple_buy, multiple_visit, uniq_urls, num_checkins]
Index: []

可以看到SMOTENC得到的新采样集完全符合实际逻辑，并无异常值。

In [44]:
print('SMOTE过采样后，正样本：' + str(sum(y)) + '，负样本：' + str(len(y) - sum(y)))

SMOTE过采样后，正样本：16068，负样本：16068

In [45]:
from sklearn.preprocessing import PolynomialFeatures

In [46]:
poly = PolynomialFeatures(2)
polyX = poly.fit_transform(X)
col = poly.get_feature_names(input_features=X.columns)

In [47]:
print('二元二次特征提取后所有特征名：' + str(col))

二元二次特征提取后所有特征名：['1', 'is_buyer', 'buy_freq', 'visit_freq', 'buy_interval', 'sv_interval', 'expected_time_buy', 'expected_time_visit', 'last_buy', 'last_visit', 'multiple_buy', 'multiple_visit', 'uniq_urls', 'num_checkins', 'is_buyer^2', 'is_buyer buy_freq', 'is_buyer visit_freq', 'is_buyer buy_interval', 'is_buyer sv_interval', 'is_buyer expected_time_buy', 'is_buyer expected_time_visit', 'is_buyer last_buy', 'is_buyer last_visit', 'is_buyer multiple_buy', 'is_buyer multiple_visit', 'is_buyer uniq_urls', 'is_buyer num_checkins', 'buy_freq^2', 'buy_freq visit_freq', 'buy_freq buy_interval', 'buy_freq sv_interval', 'buy_freq expected_time_buy', 'buy_freq expected_time_visit', 'buy_freq last_buy', 'buy_freq last_visit', 'buy_freq multiple_buy', 'buy_freq multiple_visit', 'buy_freq uniq_urls', 'buy_freq num_checkins', 'visit_freq^2', 'visit_freq buy_interval', 'visit_freq sv_interval', 'visit_freq expected_time_buy', 'visit_freq expected_time_visit', 'visit_freq last_buy', 'visit_freq last_visit', 'visit_freq multiple_buy', 'visit_freq multiple_visit', 'visit_freq uniq_urls', 'visit_freq num_checkins', 'buy_interval^2', 'buy_interval sv_interval', 'buy_interval expected_time_buy', 'buy_interval expected_time_visit', 'buy_interval last_buy', 'buy_interval last_visit', 'buy_interval multiple_buy', 'buy_interval multiple_visit', 'buy_interval uniq_urls', 'buy_interval num_checkins', 'sv_interval^2', 'sv_interval expected_time_buy', 'sv_interval expected_time_visit', 'sv_interval last_buy', 'sv_interval last_visit', 'sv_interval multiple_buy', 'sv_interval multiple_visit', 'sv_interval uniq_urls', 'sv_interval num_checkins', 'expected_time_buy^2', 'expected_time_buy expected_time_visit', 'expected_time_buy last_buy', 'expected_time_buy last_visit', 'expected_time_buy multiple_buy', 'expected_time_buy multiple_visit', 'expected_time_buy uniq_urls', 'expected_time_buy num_checkins', 'expected_time_visit^2', 'expected_time_visit last_buy', 'expected_time_visit last_visit', 'expected_time_visit multiple_buy', 'expected_time_visit multiple_visit', 'expected_time_visit uniq_urls', 'expected_time_visit num_checkins', 'last_buy^2', 'last_buy last_visit', 'last_buy multiple_buy', 'last_buy multiple_visit', 'last_buy uniq_urls', 'last_buy num_checkins', 'last_visit^2', 'last_visit multiple_buy', 'last_visit multiple_visit', 'last_visit uniq_urls', 'last_visit num_checkins', 'multiple_buy^2', 'multiple_buy multiple_visit', 'multiple_buy uniq_urls', 'multiple_buy num_checkins', 'multiple_visit^2', 'multiple_visit uniq_urls', 'multiple_visit num_checkins', 'uniq_urls^2', 'uniq_urls num_checkins', 'num_checkins^2']

In [49]:
X = pd.DataFrame(columns=col,data=polyX).drop('1',1)

In [52]:
train = X
train['y_buy'] = y

In [54]:
train.to_csv('ads_train_sorted.csv')